:root {
  --header-bg-color: #f6f6f6;
  --input-border-color: #d7d7d7;
  --primary1-color: #2ac1bc;
}

body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c0c0c0;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #c0c0c0;
  height: 56px;
}

.login-header--left {
  position: absolute;
  left: 20px;
}

.login-header--center--title {
  font-size: 16px;
  font-weight: 400;
}

.signup-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  flex-grow: 1;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.signup-main--label {
  padding: 5px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
}
.signup-main--text-input {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
}

.signup-main--submit-btn {
  margin-top: 24px;
  padding: 10px 16px;
  background-color: var(--primary1-color);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
