.content--product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px;
  width: 100%;
  height: 139px;
}

.content--product--info {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content--product--info--top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content--product--info--top > div {
  display: flex;
  margin: 3px 0;
  align-items: center;
}

.content--product--info--top > div:first-child {
  margin-top: 0;
  justify-content: space-between;
}

.content--product--info--top > div:last-child {
  margin-bottom: 0;
}

.content--product--info--top--interest,
.content--product--info--top--menu {
  width: 21px;
  height: 18px;
}

.content--product--info--top--interest > img,
.content--product--info--top--menu > img {
  width: 100%;
  height: 100%;
}

.content--product--info--top > div:nth-child(2) > div {
  color: var(--gray-text-color);
  font-size: 14px;
  display: flex;
}

.content--product--info--top > div:nth-child(2) > div > span {
  display: block;
}

.content--product--info--top .location::after {
  content: '∙';
  font-size: 14px;
  font-weight: 500;
  margin: 0 4px;
}

.content--product--info--top h1 {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  height: fit-content;
  align-items: baseline;
  text-align: center;
  margin-top: 4px;
}

.content--product--info--top h1 > a {
  color: var(--black-text-color);
  text-decoration: none;
}

.content--product--info--bottom {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.content--product--info--bottom > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 28px;
  height: 16px;
  margin: 0 8.5px;
}
.content--product--info--bottom > div:last-child {
  margin-right: 0;
}
