@import url('./global_color.css');

.content--chat-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  height: 72px;
}

.content--chat-item.unread {
  background-color: var(--header-bg-color);
}

.content--chat-item--left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-text-color);
  height: 20px;
  display: flex;
  align-items: center;
}

.current-message {
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  color: var(--gray-text-color);
  display: flex;
  align-items: center;
}

.content--chat-item--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content--chat-item--right--left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  margin-right: 8px;
  text-align: right;
}

.content--chat-item--right--left > * {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
}

.current-chat-time {
  margin-top: 0;
  color: var(--gray-text-color);
  display: flex;
  font-size: 12px;
}

.un-read-count {
  margin-bottom: 0;
  text-align: center;
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 16px;
  padding: 4px;
  font-family: Noto Sans KR;
  border-radius: 999px;
  background: var(--primary1-color);
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content--chat-item--right--right {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.content--chat-item--right--right > img {
  width: 100%;
}
