:root {
  --header-bg-color: #f6f6f6;
  --input-border-color: #d7d7d7;
  --primary1-color: #2ac1bc;
  --primary2-color: #a0e1e0;
  --primary3-color: #219a95;
  --gray-text-color: #888888;
  --black-text-color: #222222;
  --red-text-color: #f45452;
}
