@import url("./common/basic_header.css");
@import url("./common/global_color.css");

body {
  border: 1px solid #c0c0c0;
}

.posting-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
}

.posting-main--img-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-top: 24px;
}

.posting-main--img-register--img {
  margin: 5px;
}

.posting-main--img-register--msg {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.posting-main--text-input {
  font-size: 16px;
  font-weight: 400;
  border: none;
}

.posting-main--text-input:focus {
  outline: none;
}

.posting-main--text-input.subtext {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}

.posting-main-tag-container {
  display: flex;
  overflow-y: visible;
}

.posting-main-tag-container .tag {
  font-size: 16px;
  font-weight: 400;
  margin-right: 2px;
  color: #888888;
  padding: 5px 8px;
  border: 1px solid #c0c0c0;
  border-radius: 16px;
  vertical-align: middle;
  position: relative;
  overflow: visible;
}

.close-btn {
  display: none;
}

.close-btn > .close-icon {
  width: 15px;
}

.tag:hover .close-btn {
  display: block;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: var(--primary1-color);
  color: white;
  height: 15px;
  border-radius: 8px;
}

.posting-main--textarea {
  display: block;
  border: none;
  overflow: scroll;
  resize: none;
  min-height: 40px;
  max-height: 160px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.expand-textarea[contenteditable]:empty::before {
  content: "게시글 내용을 작성해주세요.";
  color: gray;
}

.split-line {
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0.5px solid #c0c0c0;
}

.posting-location {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid #c0c0c0;
  border: 1px solid black;
}

.posting-location--icon {
  width: 20px;
}
.posting-location--name {
  margin-left: 20px;
}

.check-icon {
  width: 20px;
}

.image-icon {
  width: 25px;
}
