@import url("./common/basic_header.css");
@import url("./common/global_color.css");

body {
  border: 1px solid #c0c0c0;
}

.location-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.location-main--comment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 24px;
}

.location--container {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
.location--container--location-card {
  display: flex;
  background-color: var(--primary1-color);
  border-radius: 8px;
  width: 136px;
  height: 36;
  padding: 6px 16px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
.location--container--location-card .close-icon {
  width: 20px;
}

.location--container--location-card.empty {
  justify-content: center;
  background-color: white;
  border: 1px solid var(--primary1-color);
}

.location--container--location-card.empty .plus-icon > svg {
  width: 20px;
  height: 20px;
}

.edit-modal {
  display: block;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
}

.edit-modal p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.edit-modal--text-input {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  font-size: 14px;
}

.edit-modal--text-input:focus {
  outline: none;
  border: 1px solid var(--primary1-color);
}

.edit-modal--btn-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.edit-modal--btn-container--accept-btn {
  color: black;
}

.edit-modal--btn-container--accept-btn:hover {
  color: red;
}

.delete-modal {
  display: block;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  border-radius: 8px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
}
