@import url("./common/basic_header.css");
@import url("./common/global_color.css");
@import url("./common/modal.css");

body {
  border: 1px solid #c0c0c0;
}

.location-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.location-main--comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 24px;
}

.location-main--comment .error-message {
  margin-top: 10px;
  color: red;
}

.location--container {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
.location--container--location-card {
  display: flex;
  background-color: var(--primary1-color);
  border-radius: 8px;
  width: 136px;
  height: 36px;
  padding: 6px 16px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
.location--container--location-card .close-icon {
  width: 20px;
}

.location--container--location-card.empty {
  justify-content: center;
  background-color: white;
  border: 1px solid var(--primary1-color);
}

.location--container--location-card.empty .plus-icon > svg {
  width: 20px;
  height: 20px;
}
