:root {
  --primary-color: #2ac1bc;
  --primary-color-light: #a0e1e0;
  --primary-color-dark: #219a95;
  --gray-text-color: #888;
  --black-text-color: #222222;
}

body {
  background-color: #fff;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: inherit;
  background-color: #2ac1bc;
  height: 56px;
  padding: 0 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main-header > * {
  height: 100%;
}

.main-header i {
  font-size: 1rem;
}

.main-header--left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category-icon > svg {
  width: 20px;
  height: 20px;
}
.location-icon > svg {
  width: 15px;
  margin-right: 10px;
}

.profile-icon > svg,
.menu-icon > svg {
  width: 20px;
}

.main-header .location {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.main-header--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header--right > * {
  margin: 0 9.5px;
}

.main-header--right > :first-child {
  margin-left: 0;
}

.main-header--right > :last-child {
  margin-right: 0;
}

.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.chat-icon > svg {
  width: 15px;
  height: 15px;
}
.interest-small-icon > svg {
  width: 15px;
  height: 15px;
}

.plus-icon {
  width: 14px;
  height: 14px;
}

.new-product-button {
  position: fixed;
  width: 56px;
  height: 56px;
  background-color: #2ac1bc;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  right: 16px;
  bottom: 16px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 8%;
  border-radius: 8px;
  background-color: #f6f6f6;
  left: 50%;
  min-width: 165px;
  box-shadow: 0px 0px 4px rgb(204 204 204 / 50%), 0px 2px 4px rgb(0 0 0 / 25%);
  transform: translateX(-50%);
}

.dropdown-item {
  color: var(--black-text-color);
}

.dropdown-item.selected {
  color: var(--primary-color);
}
