@import url("./common/basic_header.css");
@import url("./common/global_color.css");
@import url("./common/product_list_item.css");

body {
  background-color: #fff;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: inherit;
  background-color: var(--primary1-color);
  height: 56px;
  padding: 0 20px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main-header--left {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.category-icon > svg,
.location-icon > svg,
.profile-icon > svg,
.menu-icon > svg {
  width: 20px;
}

.location-icon {
  margin-right: 10px;
}

.main-header .location {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.main-header .location > * {
  pointer-events: none;
}

.main-header--right {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header--right > * {
  margin: 0 9.5px;
}

.main-header--right > :first-child {
  margin-left: 0;
}

.main-header--right > :last-child {
  margin-right: 0;
}

.product-container {
  height: calc(100% - 56px);
}

.new-product-button {
  position: fixed;
  width: 56px;
  height: 56px;
  background-color: #2ac1bc;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  right: 16px;
  bottom: 16px;
}

.new-product-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropdown {
  display: none;
  position: absolute;
  top: 8%;
  border-radius: 8px;
  background-color: #f6f6f6;
  left: 50%;
  min-width: 165px;
  box-shadow: 0px 0px 4px rgb(204 204 204 / 50%), 0px 2px 4px rgb(0 0 0 / 25%);
  transform: translateX(-50%);
}

.dropdown-item {
  color: var(--black-text-color);
}

.dropdown-item.selected {
  color: var(--primary-color);
}
